In [29]:
import pandas as pd

In [30]:
df=pd.read_excel('Naive.xlsx')

In [31]:
df

    Person Covid Flue Fever
0        1   YES   NO   YES
1        2    NO  YES   YES
2        3   YES  YES   YES
3        4    NO   NO    NO
4        5   YES   NO   YES
5        6    NO   NO   YES
6        7   YES   NO   YES
7        8   YES   NO    NO
8        9    NO  YES   YES
9       10    NO  YES    NO
10      11   YES  YES   YES
11      12   YES  YES   YES
12      13    NO   NO    NO
13      14    NO   NO    NO
14      15   YES   NO   YES
15      16   YES   NO   YES
16      17    NO  YES   YES
17      18    NO  YES   YES

In [32]:
d={'YES':1,'NO':0}
X=df.iloc[:,1:3]
y=df.iloc[:,3:]

In [33]:
X

   Covid Flue
0    YES   NO
1     NO  YES
2    YES  YES
3     NO   NO
4    YES   NO
5     NO   NO
6    YES   NO
7    YES   NO
8     NO  YES
9     NO  YES
10   YES  YES
11   YES  YES
12    NO   NO
13    NO   NO
14   YES   NO
15   YES   NO
16    NO  YES
17    NO  YES

In [34]:
y

   Fever
0    YES
1    YES
2    YES
3     NO
4    YES
5    YES
6    YES
7     NO
8    YES
9     NO
10   YES
11   YES
12    NO
13    NO
14   YES
15   YES
16   YES
17   YES

In [43]:
X.replace(d,inplace=True)
y.replace(d,inplace=True)

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
k=2

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [46]:
k=KMeans(n_clusters=k)

In [47]:
k.fit(X_train,y_train)

C:\Users\DARSHAN PARSOLIYA\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\DARSHAN PARSOLIYA\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=2)

In [48]:
y_pred=k.predict(X_test)
y_pred

array([1, 0, 1, 1])

In [49]:
from sklearn.metrics import accuracy_score

In [50]:
acc=accuracy_score(y_pred,y_test)

In [51]:
acc

0.75